.avatar {
  border-radius: 50%;
  display: inline;
  border: 1px solid rgb(196, 244, 255);
}

.avatar:hover {
  border: 1px solid #88EAFF;
  cursor: pointer;
}

.image {
  width: 100%;
  border-radius: 50%;
}
