.footer {
  font-size: 0.7em;
  background: #E1FAFF;
  padding: 20px 0;
}

.anchor {
  text-decoration: none;
  color: #000000;
}

.anchor:hover,
.anchor:focus {
  cursor: pointer;
  color: rgb(88, 224, 255);
}

.text {
  margin: 5px 0;
  width: 100%;
  text-align: center;
}
