.projects {
  width: 100vw;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 0.8em;
  width: 100%;
  text-align: center;
  position: absolute;
}

.btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: #C4C4C4;
  font-size: 1em;
  position: absolute;
  top: calc(50% - 50px);
  margin: 35px;
}

.btn:hover {
  cursor: pointer;
}

.btnRight {
  right: 0;
}

.link {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 0.6em;
  color: #888888;
  text-decoration: none;
}

@keyframes remove-project {
  0% {left: 0;}
  100% {left: -100vw;}
}

.removeProject {
  animation-name: remove-project;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  -webkit-animation-name: remove-project;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
}

@keyframes add-project {
  0% {left: 100vw;}
  100% {left: 0;}
}

.addProject {
  animation-name: add-project;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  -webkit-animation-name: add-project;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
}
