.hero {
  height: 92.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_text {
  width: 70%;
  text-align: center;
  font-weight: lighter;
}

.name {
  font-weight: bold;
  color: #007089;
}

.langImage {
  width: 100px;
  height: 100px;
  margin-top: 77px;
}
