.btn {
  background: #88EAFF;
  border: none;
  border-radius: 25px;
  height: 35px;
  padding: 0 20px;
  font-size: 0.6em;
}

.btn:hover {
  cursor: pointer;
  outline: none;
  background: rgb(88, 224, 255);
  border: 1px solid rgb(196, 244, 255);
}

.btn:focus {
  outline: none;
  background: rgb(88, 224, 255);
  border: 1px solid rgb(196, 244, 255);
}

@media screen and (max-width: 322px) {
  .btn {
    display: none;
  }
}
