.title {
  width: 95%;
  padding: 0;
  margin: 0 2.5%;
  border: none;
  height: 45px;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
}

.title:focus {
  outline: none;
  border: 0.5px solid #53a0e4;
}

.articleBody {
  font-size: 0.8em;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
