.articles {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  max-width: 1500px;
}

.noArticles {
  display: none;
}

.heading {
  font-size: 0.8em;
  width: 100%;
  max-width: 1500px;
  text-align: center;
  margin: 0 auto 0;
}

@media screen and (max-width: 640px) {
  .articles {
    min-height: 300px;
  }
}
