@use "../../../../../static/styles/colors" as color;

.menuItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  padding: 0.1em;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 0px #c5c5c5;
  color: color.$foreground-color;
  border: solid rgba(255, 0, 0, 0);
  margin: 0 0 0 5px;
  -webkit-transition:
    box-shadow 200ms linear;
  -moz-transition:
    box-shadow 200ms linear;
  transition:
    box-shadow 200ms linear;
}

.menuItemButton {
  min-width: 50px;
  min-height: 50px;
}

.menuItemButton:hover {
  cursor: pointer;
}

.menuItemButton:focus {
  outline: none;
}

.menuItem:first-of-type {
  margin-left: 0;
}

.menuItem:focus,
.menuItem:hover {
  cursor: pointer;
  box-shadow: 0.5px 0.5px 1px -0.25px #c5c5c5;
}

.menuItem:focus-within {
  border: solid red;
}

.menuItemSelected {
  box-shadow: inset 2px 2px 2px 0px #c5c5c5;
  -webkit-transition:
    box-shadow 200ms linear;
  -moz-transition:
    box-shadow 200ms linear;
  transition:
    box-shadow 200ms linear;
}

.menuItemSelected:focus,
.menuItemSelected:hover {
  cursor: pointer;
  box-shadow: inset 0.5px 0.5px 1px 0.25px #c5c5c5;
}

.icon {
  width: 1em;
  height: 1em;
}

.menuItemCheckbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 0;
  height: 0;
  margin: 0;
}

.toolTipFontSize {
  font-size: 12px;
}
